{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Who we are?</title>
{% endblock %}

{% block content %}
<div class="about">
  <section class="about-info-container">
    <div class="about-info-content">
      <div>
        <h1 class="fs-39 barlow-light">Who we are?</h1>
      </div>
      <div class="about-paragraph-container fs-16 opensans-regular">
        <p>
          SIC is a Mexican company with 25 years supporting the technological markets by providing warranty and out of warranty services for the leading brands in the industry.
        </p>
        <p>
          In addition we provide custom tailor solutions to our clients offering “Turn key” solutions and delivering other technological solutions that meet customer requirements and when required, integrate and manage the implementation under the “One stop shop” approach.
        </p>
        <p>
          Additionally we can sale of equipment, IT infrastructure components and accessories.
        </p>
      </div>
    </div>
    <div class="about-info-img-container">
      <img class="about-info-img" src="img/about/about-img-one.png">
    </div>
  </section>

  <section class="about-convictions-container">
    <div class="about-convictions-card-container about-cards-carousel owl-carousel">
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-cup" src="img/icons/icon-cup.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Our Mission</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          Be the leaders in technological sector of Latin American market, offering integral solutions based on our quality policy providing maximum satisfaction to our customers and shareholders.
        </p>
      </div>
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-eye" src="img/icons/icon-eye.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Our Vision</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          To be the most recognized company in the American continent, cultivating the confidence of our clients day by day.
        </p>
      </div>
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-flag" src="img/icons/icon-flag.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Target</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          Respond to the confidence of the shareholders, guaranteeing the most profitable return of their investments, through the intelligent integration of the professional talents of the organization.
        </p>
      </div>
    </div>
  </section>
  <section class="about-footer"></section>
</div>
{% endblock %}
