{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Garantías</title>
{% endblock %}

{% block content %}
<div class="home-service-iframe">
  <iframe class="iframe-content" style="border:0 ;" width="800" height="550" scrolling="yes" src="https://sicser.com.mx/Home/SearchCustomerService"></iframe>
</div>
{% endblock %}
