{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Experts in computer equipment repair</title>
{% endblock %}

{% block content %}
<div class="home">
  <div class="home-cover-carousel owl-carousel">
    <div class="home-cover cover-one">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed1en"></h1>
        </div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">get a quote</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-two">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed2en"></h1>
        </div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">get a quote</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-three">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed3en"></h1>
        </div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">get a quote</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-four">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed4en"></h1>
        </div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">get a quote</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-five">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed5"></h1>
        </div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">get a quote</button>
        </a>
      </div>
    </div>
  </div>

  <div class="home-solutions">
    <div>
      <div class="home-solutions-title-container">
        <h2 class="barlow-light fs-39">Our solutions</h2>
      </div>
      <div class="home-solutions-info-container">
        <a class="home-solutions-info-content" href="corporate-en.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-renovation" src="img/icons/icono-corporativo.png">
          </div>
          <span class="opensans-semibold fs-15">Corporate</span>
        </a>
        <a class="home-solutions-info-content" href="technical-service-en.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-extension" src="img/icons/icono-servicio-tecnico.png">
          </div>
          <span class="opensans-semibold fs-15">Technical service</span>
        </a>
        <a class="home-solutions-info-content" href="networking-en.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-instalation" src="img/icons/icono-redes.png">
          </div>
          <span class="opensans-semibold fs-15">Networking</span>
        </a>
        <a class="home-solutions-info-content" href="equipment-repair-en.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-warranty" src="img/icons/icono-reparacion-de-equipos.png">
          </div>
          <span class="opensans-semibold fs-15">Equipment Repair</span>
        </a>
      </div>
    </div>
  </div>

  <div class="home-clients">
    <div class="home-clients-carousel owl-carousel">
      <div class="home-clients-logo">
        <img class="home-clients-logo-dell" src="img/logos/logo-dell-emc-color.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-touch" src="img/logos/logo-touch.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-ricoh" src="img/logos/logo-ricoh.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-ford" src="img/logos/logo-ford.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-egs" src="img/logos/logo-egs.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-cyg" src="img/logos/logo-cyg-color.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-fecolfin" src="img/logos/logo-fecolfin.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-quick" src="img/logos/logo-quick.jpeg">
      </div>
    </div>
  </div>

  <div class="home-location">
    <div class="home-location-info-container">
      <div>
        <div class="home-location-info">
          <h2 class="barlow-light fs-39 sic-text-white">Office Locations</h2>
          <h3 class="opensans-regular fs-18">Our points of sale</h3>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">México</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Colombia</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Chile</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Argentina</span>
        </div>
        <div class="home-location-button-container">
          <a href="">
            <a href="office-locations-en.html">
              <button class="sic-button barlow-bold fs-13">map</button>
            </a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-service">
    <div class="home-service-content">
      <div class="home-service-title-container">
        <h2 class="barlow-light fs-39">Track your technical service</h2>
      </div>
      <div class="home-service-goforms">
        <div class="home-service-goforms-content">
          <div class="home-service-icon-container">
            <img class="home-service-icon" src="img/icons/icon-warranty.png">
          </div>
          <h3 class="home-service-subtitle opensans-semibold fs-20">In warranty computers</h3>
          <div class="home-service-paragraph-container">
            <p class="opensans-regular fs-13">
              If your warranty has not expired yet click here to learn more
            </p>
          </div>
          <a href="warranties.html">
            <button class="sic-button barlow-bold fs-13">Go</button>
          </a>
        </div>
        <div class="home-service-goforms-content">
          <div class="home-service-icon-container">
            <img class="home-service-icon" src="img/icons/icon-no-warranty.png">
          </div>
          <h3 class="home-service-subtitle opensans-semibold fs-20">Out of warranty computers</h3>
          <div class="home-service-paragraph-container">
            <p class="opensans-regular fs-13">
              If your warranty has already expired click here to learn more
            </p>
          </div>
          <a href="warranties.html">
            <button class="sic-button barlow-bold fs-13">Go</button>
          </a>
        </div>
      </div>
    </div>
    <div class="home-service-contact-container">
      <div class="home-service-contact-title-container">
        <h2 class="barlow-light fs-35">Contact Us</h2>
      </div>
      <div>
        <a href="quote-en.html">
          <button class="sic-button barlow-bold fs-13">Get a quote</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
