{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Expertos en reparación de equipos de cómputo</title>
{% endblock %}

{% block content %}
<div class="home">
  <div class="home-cover-carousel owl-carousel">
    <div class="home-cover cover-one">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed1"></h1>
        </div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-two">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed2"></h1>
        </div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-three">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed3"></h1>
        </div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-four">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed4"></h1>
        </div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
    <div class="home-cover cover-five">
      <div class="home-cover-info">
        <div class="home-cover-subtitle-container">
          <h1 class="barlow-light fs-48 typed5"></h1>
        </div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
  </div>

  <div class="home-solutions">
    <div>
      <div class="home-solutions-title-container">
        <h2 class="barlow-light fs-39">Algunas de nuestras soluciones</h2>
      </div>
      <!-- <a href="soluciones.html" class="home-solutions-button-desktop">
        <button class="sic-button barlow-bold fs-13">soluciones</button>
      </a> -->
      <div class="home-solutions-info-container">
        <a class="home-solutions-info-content" href="corporativo.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-renovation" src="img/icons/icono-corporativo.png">
          </div>
          <span class="opensans-semibold fs-15">Corporativo</span>
        </a>
        <a class="home-solutions-info-content" href="servicio-tecnico.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-extension" src="img/icons/icono-servicio-tecnico.png">
          </div>
          <span class="opensans-semibold fs-15">Servicio técnico</span>
        </a>
        <a class="home-solutions-info-content" href="redes.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-instalation" src="img/icons/icono-redes.png">
          </div>
          <span class="opensans-semibold fs-15">Redes</span>
        </a>
        <a class="home-solutions-info-content" href="reparacion-de-equipos.html">
          <div class="home-solutions-icon-container">
            <img class="home-solutions-icon-warranty" src="img/icons/icono-reparacion-de-equipos.png">
          </div>
          <span class="opensans-semibold fs-15">Reparación de equipos</span>
        </a>
      </div>
    </div>
    <!-- <div class="home-solutions-button-mobile-container">
      <a href="soluciones.html" class="home-solutions-button-mobile">
        <button class="sic-button barlow-bold fs-13">soluciones</button>
      </a>
    </div> -->
  </div>

  <div class="home-clients">
    <div class="home-clients-carousel owl-carousel">
      <div class="home-clients-logo">
        <img class="home-clients-logo-dell" src="img/logos/logo-dell-emc-color.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-touch" src="img/logos/logo-touch.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-ricoh" src="img/logos/logo-ricoh.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-ford" src="img/logos/logo-ford.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-egs" src="img/logos/logo-egs.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-cyg" src="img/logos/logo-cyg-color.png">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-fecolfin" src="img/logos/logo-fecolfin.jpg">
      </div>
      <div class="home-clients-logo">
        <img class="home-clients-logo-quick" src="img/logos/logo-quick.jpeg">
      </div>
    </div>
  </div>

  <div class="home-location">
    <div class="home-location-info-container">
      <div>
        <div class="home-location-info">
          <h2 class="barlow-light fs-39 sic-text-white">Dónde estamos</h2>
          <h3 class="opensans-regular fs-18">Conoce nuestros puntos de venta</h3>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">México</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Colombia</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Chile</span>
        </div>
        <div class="home-location-points-container">
          <div class="home-location-icon-container">
            <img class="home-location-icon" src="img/icons/icon-location.png">
          </div>
          <span class="opensans-regular fs-16">Argentina</span>
        </div>
        <div class="home-location-button-container">
          <a href="">
            <a href="donde-estamos.html">
              <button class="sic-button barlow-bold fs-13">ver mapa</button>
            </a>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-service">
    <div class="home-service-content">
      <div class="home-service-title-container">
        <h2 class="barlow-light fs-39">Consulta el estatus de tu servicio</h2>
      </div>
      <div class="home-service-goforms">
        <div class="home-service-goforms-content">
          <div class="home-service-icon-container">
            <img class="home-service-icon" src="img/icons/icon-warranty.png">
          </div>
          <h3 class="home-service-subtitle opensans-semibold fs-20">Dentro de garantía</h3>
          <div class="home-service-paragraph-container">
            <p class="opensans-regular fs-13">
              Si tu garantía todavía no ha expirado da click aquí para conocer más
            </p>
          </div>
          <a href="garantias.html">
            <button class="sic-button barlow-bold fs-13">ir</button>
          </a>
        </div>
        <div class="home-service-goforms-content">
          <div class="home-service-icon-container">
            <img class="home-service-icon" src="img/icons/icon-no-warranty.png">
          </div>
          <h3 class="home-service-subtitle opensans-semibold fs-20">Fuera de garantía</h3>
          <div class="home-service-paragraph-container">
            <p class="opensans-regular fs-13">
              Si tu garantía ya ha expirado da click aquí para conocer más
            </p>
          </div>
          <a href="garantias.html">
            <button class="sic-button barlow-bold fs-13">ir</button>
          </a>
        </div>
      </div>
    </div>
    <div class="home-service-contact-container">
      <div class="home-service-contact-title-container">
        <h2 class="barlow-light fs-35">¡Contáctanos!</h2>
      </div>
      <div>
        <a href="cotiza.html">
          <button class="sic-button barlow-bold fs-13">cotiza</button>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
