{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Networking</title>
{% endblock %}

{% block content %}
<section class="soluciones">
  <section class="cover redes">
    <h1 class="cover-title barlow-medium">Networking</h1>
    <p class="cover-description opensans-regular">Personnel specialized in design, installation of Network LAN wiring in your facilities.</p>
    <a href="quote-en.html">
      <button class="sic-button barlow-bold fs-13">get a quote</button>
    </a>
  </section>

  <section class="card-container">
    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoTecnico" src="img/icons/icono-redes.png" alt="Networking icon">
        <h2 class="card-title opensans-semibold">Structured Cabling</h2>
        <p class="card-description opensans-semibold">Personnel specialized in design, installation of Network LAN wiring in your facilities, providing the best technical solution that meets your needs.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/cableado-estructurado-3x.jpg" alt="Structured Cabling">
      </div>
    </div>

    <div class="card-btnContainer">
      <a href="quote-en.html">
        <button class="sic-button barlow-bold fs-13">get a quote</button>
      </a>
    </div>
  </section>
</section>
{% endblock %}
