{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Quiénes somos</title>
{% endblock %}

{% block content %}
<div class="about">
  <section class="about-info-container">
    <div class="about-info-content">
      <div>
        <h1 class="fs-39 barlow-light">Quiénes somos</h1>
      </div>
      <div class="about-paragraph-container fs-16 opensans-regular">
        <p>
          SIC es una Empresa mexicana establecida en 1991 que se ha caracterizado por ser una empresa líder en el sector de servicios tecnológicos.
        </p>
        <p>
          Ampliando su cobertura en América Latina, con presencia en cuatro países.
        </p>
        <p>
          Nuestra experiencia y calidad se sustentan en la constante actualización de nuestro personal que incluye: Arquitectos de Solución, Líderes de Proyecto, Asesores y Técnicos especializados en diversas áreas de la tecnología, todos con el dominio de la más completa gama de niveles de servicio.
        </p>
      </div>
    </div>
    <div class="about-info-img-container">
      <img class="about-info-img" src="img/about/about-img-one.png">
    </div>
  </section>

  <section class="about-convictions-container">
    <div class="about-convictions-card-container about-cards-carousel owl-carousel">
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-cup" src="img/icons/icon-cup.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Misión</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          Ser líderes en el sector tecnológico del mercado Latinoamericano, ofreciendo soluciones integrales cimentadas en nuestra política de calidad brindando la máxima satisfacción a nuestros clientes y accionistas.
        </p>
      </div>
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-eye" src="img/icons/icon-eye.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Visión</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          Ser la empresa más reconocida en el continente Americano cultivando día a día la confianza de nuestros clientes.
        </p>
      </div>
      <div class="about-convictions-card">
        <div class="about-icon-container">
          <img class="about-icon-flag" src="img/icons/icon-flag.png">
        </div>
        <div class="about-convictions-card-title-container">
          <h3 class="about-convictions-card-title opensans-semibold">Objetivo</h3>
        </div>
        <p class="about-convictions-card-description opensans-regular">
          Responder a la confianza de los accionistas, garantizando el retorno más rentable de sus inversiones, a través de la integración inteligente de los talentos profesionales de la organización.
        </p>
      </div>
    </div>
  </section>
  <section class="about-footer"></section>
</div>
{% endblock %}
