{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Reconocimientos</title>
{% endblock %}

{% block content %}
  <div class="acknow">
    <div class="acknow-banner">
      <div class="acknow-banner-content">
        <div class="acknow-banner-content-top">
          <div class="acknow-title-container">
            <h1 class="fs-39 barlow-light">Reconocimientos</h1>
          </div>
          <div class="acknow-banner-logo-container">
            <img class="acknow-banner-logo" src="img/logos/logo-dell.png">
          </div>
        </div>
        <div class="acknow-banner-card-container">
          <div class="acknow-banner-card">
            <h3 class="acknow-banner-card-year opensans-semibold">2014</h3>
            <div class="acknow-banner-card-info">
              <div class="acknow-banner-line">
                <div class="acknow-banner-point"></div>
              </div>
              <p class="acknow-banner-card-description opensans-regular">
                Dell´s Global Field Services Americas Regional Partner Of The Year.
              </p>
            </div>
          </div>
          <div class="acknow-banner-card">
            <h3 class="acknow-banner-card-year opensans-semibold">2015</h3>
            <div class="acknow-banner-card-info">
              <div class="acknow-banner-line">
                <div class="acknow-banner-point"></div>
              </div>
              <p class="acknow-banner-card-description opensans-regular">
                Dells´s s Global Field Services Partner Of The Year.
              </p>
            </div>
          </div>
          <div class="acknow-banner-card">
            <h3 class="acknow-banner-card-year opensans-semibold">2016</h3>
            <div class="acknow-banner-card-info">
              <div class="acknow-banner-line">
                <div class="acknow-banner-point"></div>
              </div>
              <p class="acknow-banner-card-description opensans-regular">
                Dell´s Global Field Services Americas Regional Partner Winner.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="acknow-big-logo-container">
      <img class="acknow-big-logo" src="img/logos/logo-dell-big.png">
    </div>
  </div>
{% endblock %}
