{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Redes</title>
{% endblock %}

{% block content %}
<section class="soluciones">
  <section class="cover redes">
    <h1 class="cover-title barlow-medium">Redes</h1>
    <p class="cover-description opensans-regular">Personal especializado en la orientación, diseño e instalación del cableado de  Red Lan en sus instalaciones.</p>
    <a href="cotiza.html">
      <button class="sic-button barlow-bold fs-13">cotiza</button>
    </a>
  </section>

  <section class="card-container">
    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoTecnico" src="img/icons/icono-redes.png" alt="Ícono redes">
        <h2 class="card-title opensans-semibold">Cableado Estructurado</h2>
        <p class="card-description opensans-semibold">Personal especializado en la orientación, diseño e instalación del cableado de  Red Lan en sus instalaciones, manejando diferentes marcas.  
        </p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/cableado-estructurado-3x.jpg" alt="Cableado Estructurado">
      </div>
    </div>

    <div class="card-btnContainer">
      <a href="cotiza.html">
        <button class="sic-button barlow-bold fs-13">cotiza</button>
      </a>
    </div>
  </section>
</section>
{% endblock %}
