{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Redes</title>
{% endblock %}

{% block content %}
<section class="soluciones">
  <section class="cover reparacion">
    <h1 class="cover-title barlow-medium">Reparación de equipos</h1>
    <p class="cover-description opensans-regular">Diagnóstico, Reparación y Mantenimento de laptops, Pc´s y Servidores.</p>
    <a href="cotiza.html">
      <button class="sic-button barlow-bold fs-13">cotiza</button>
    </a>
  </section>

  <section class="card-container">
    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoReparacion" src="img/icons/icono-reparacion-de-equipos.png" alt="Ícono reparación de equipos">
        <h2 class="card-title opensans-semibold">Diagnóstico de Laptops, Pc´s y Servidores</h2>
        <p class="card-description opensans-semibold">Nuestro equipo de expertos revisan el equipo de cómputo para encontrar la causa raíz de la falla.<br>En caso de servidores podemos acudir a tus instalaciones.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/diagnostico-3x.jpg" alt="Diagnóstico de Laptops, Pc´s y Servidores">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Ícono global">
        <h2 class="card-title opensans-semibold">Reparación General</h2>
        <p class="card-description opensans-semibold">Contamos con stock de piezas y proveedores de partes para poder repara tu equipo de cómputo.<br>Todas nuestras piezas son originales y contamos con técnicos certificados en diferentes marcas para garantizar la reparación de tu equipo.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/reparacion-general-3x.jpg" alt="Reparación General">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Ícono global">
        <h2 class="card-title opensans-semibold">Mantenimiento</h2>
        <p class="card-description opensans-semibold">Se hace una limpieza física de cada componente para evitar el sobrecalentamiento y mejorar el rendimiento de tu equipo.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/mantenimiento-3x.jpg" alt="Mantenimiento">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Ícono global">
        <h2 class="card-title opensans-semibold">Reinstalación y Configuración de Sistema Operativo</h2>
        <p class="card-description opensans-semibold">Si tu equipo cada vez es mas lento y cuentas con el respaldo de tu informacion, nuestros expertos pueden resintalar tu equipo de fabrica con licencias originales para mejorar su rendimiento y rapidez.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/respaldo-3x.jpg" alt="Respaldo de datos">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Ícono global">
        <h2 class="card-title opensans-semibold">Respaldo de datos</h2>
        <p class="card-description opensans-semibold">Respaldamos y transferimos la información de tu equipo actual a un dispositivo externo o a un nuevo equipo.</p>
      </div>
      <!-- <div class="card-img-container">
        <img class="card-img" src="img/soluciones/respaldo-3x.jpg" alt="Respaldo de datos">
      </div> -->
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/cotizacion-3x.jpg" alt="Cotización de refacciones">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Ícono global">
        <h2 class="card-title opensans-semibold">Cotización de refacciones</h2>
        <p class="card-description opensans-semibold">Contamos con refacciones originales como baterías, cargadores, pantallas, HDD´s, teclados etc.</p>
      </div>
      <!-- <div class="card-img-container">
        <img class="card-img" src="img/soluciones/cotizacion-3x.jpg" alt="Cotización de refacciones">
      </div> -->
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/reinstalacion-3x.jpg" alt="Reinstalación y Configuración de Sistema Operativo">
      </div>
    </div>

    <div class="card-btnContainer">
      <a href="cotiza.html">
        <button class="sic-button barlow-bold fs-13">cotiza</button>
      </a>
    </div>
  </section>
</section>
{% endblock %}
