{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Solutions</title>
{% endblock %}

{% block content %}
  <div class="solutions">
    <div class="solutions-content">
      <div class="solutions-title-container">
        <h1 class="barlow-light fs-39">Some of<br>our solutions</h1>
      </div>
      <div class="solutions-carousel owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Corporate</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Technological refresh (HW/SW)</li>
              <li>Tech Refresh Basic</li>
              <li>Tech Refresh Customized</li>
              <li>Preventive Maintenance Programs</li>
              <li>Asset inventory and datagging</li>
              <li>PC Support</li>
              <li>Call or Contact Centers Services</li>
              <li>Logistic Services and warehousing</li>
              <li>DInstallation/Moves/Adds/Changes of Equipment (IMACs)</li>
            </ul>
          </div>
          <div class="solutions-card-separator-container">
            <div class="solutions-card-separator"></div>
          </div>
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">End-User</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Warranty Extensions and Out-of-Warranty Services</li>
              <li>Service Contracts</li>
              <li>Installation & Maintenance of Multi Vendor equipment</li>
              <li>Onsite or Carry-In Services for Multi Vendor</li>
              <li>Performance Tunning</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Networking</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Structured cabling design & installation</li>
              <li>UPSs Selection & Installation</li>
              <li>HAVC Selection & Installation</li>
            </ul>
          </div>
          <div class="solutions-card-separator-container">
            <div class="solutions-card-separator"></div>
          </div>
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Out of Warranty Services</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Diagnostics for Servers, PC’s and Laptops</li>
              <li>Complete Repairs</li>
              <li>Preventive and Corrective Services</li>
              <li>Deep Cleaning</li>
              <li>Installation & Configuration of SW</li>
              <li>Data Backups</li>
              <li>Antivirus Scanning & Removal</li>
              <li>Printer Diagnostics & Repair Performance Tunning</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile version -->
      <div class="solutions-carousel-mobile owl-carousel">
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Corporate</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Technological refresh (HW/SW)</li>
              <li>Tech Refresh Basic</li>
              <li>Tech Refresh Customized</li>
              <li>Preventive Maintenance Programs</li>
              <li>Asset inventory and datagging</li>
              <li>PC Support</li>
              <li>Call or Contact Centers Services</li>
              <li>Logistic Services and warehousing</li>
              <li>DInstallation/Moves/Adds/Changes of Equipment (IMACs)</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">End-User</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Warranty Extensions and Out-of-Warranty Services</li>
              <li>Service Contracts</li>
              <li>Installation & Maintenance of Multi Vendor equipment</li>
              <li>Onsite or Carry-In Services for Multi Vendor</li>
              <li>Performance Tunning</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-enterprise" src="img/icons/icon-enterprise.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Networking</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Structured cabling design & installation</li>
              <li>UPSs Selection & Installation</li>
              <li>HAVC Selection & Installation</li>
            </ul>
          </div>
        </div>
        <div class="solutions-card">
          <div class="solutions-card-column">
            <div>
              <img class="solutions-icon-endservice" src="img/icons/icon-endservice.png">
            </div>
            <div class="solutions-card-title-container">
              <h3 class="opensans-semibold">Out of Warranty Services</h3>
            </div>
            <ul class="solutions-card-ul opensans-regular">
              <li>Diagnostics for Servers, PC’s and Laptops</li>
              <li>Complete Repairs</li>
              <li>Preventive and Corrective Services</li>
              <li>Deep Cleaning</li>
              <li>Installation & Configuration of SW</li>
              <li>Data Backups</li>
              <li>Antivirus Scanning & Removal</li>
              <li>Printer Diagnostics & Repair Performance Tunning</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
