{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Technical</title>
{% endblock %}

{% block content %}
<section class="soluciones">
  <section class="cover tecnico">
    <h1 class="cover-title barlow-medium">Technical service</h1>
    <p class="cover-description opensans-regular servicioTecnicoCover">On-site repair of computer equipment and peripherals or authorized service centers.</p>
    <a href="quote-en.html">
      <button class="sic-button barlow-bold fs-13">get a quote</button>
    </a>
  </section>

  <section class="card-container">
    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoTecnico" src="img/icons/icono-servicio-tecnico.png" alt="Technical service icon">
        <h2 class="card-title opensans-semibold">Warranty Extensions On-Site</h2>
        <p class="card-description opensans-semibold">On-site repair of computer equipment and peripherals previously diagnosed providing a solution as result of the skill of our technically certified technicians.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/garantia-sitio-3x.jpg" alt="Warranty Extensions On-Site">
      </div>
    </div>

    <div class="card">
      <div class="card-info">
        <img class="card-icon iconoRenovacion" src="img/icons/icono-global.png" alt="Global icon">
        <h2 class="card-title opensans-semibold">Warranty Extensions in Authorized Service Centers</h2>
        <p class="card-description opensans-semibold">Computer equipment and peripherals repair in our Authorized Service Centers if the customer wishes to use that option, we have an extensive network of Authorized Service Centers that add to 24 and in LATAM we have 105  Authorized Service Centers.</p>
      </div>
      <div class="card-img-container">
        <img class="card-img" src="img/soluciones/garantia-centro-3x.jpg" alt="Warranty Extensions in Authorized Service Centers">
      </div>
    </div>

    <div class="card-btnContainer">
      <a href="quote-en.html">
        <button class="sic-button barlow-bold fs-13">get a quote</button>
      </a>
    </div>
  </section>
</section>
{% endblock %}
