{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
<div class="home-service-iframe">
  <iframe class="iframe-content" style="border:0 ;" width="800" height="227" scrolling="no" src="http://200.66.75.35/Home/SearchCustomerService"></iframe>
</div>
{% endblock %}
