{% extends "partials/base.njk" %}

{% block meta %}
<title>SIC | Warranties</title>
{% endblock %}

{% block content %}
<div class="home-service-iframe">
  <iframe class="iframe-content" style="border:0 ;" width="800" height="550" scrolling="yes" src="http://200.66.75.35/Home/SearchCustomerService"></iframe>
</div>
{% endblock %}
