<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:url" content="http://www.sic.com.mx/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SIC | Comercialización y Servicios" />
    <meta name="title" content="Entos | Innovation Beyond Measure" />
    <meta property="og:description" content="Más de 25 años resolviendo necesidades en Tecnología de Cómputo" />
    <meta property="og:image" content="http://www.sic.com.mx/img/backgrounds/bg-home-cover-one" />
    <meta property="og:image:width" content="1440" />
    <meta property="og:image:height" content="743" />
    <meta name="keywords" content="Tecnología, Cómputo, Reparación, Equipos, Hardware, Software, Mantenimiento, Soporte">
    <meta name="description" content="Más de 25 años resolviendo necesidades en Tecnología de Cómputo" />
    {% block meta %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="css/{{ projectFilesName }}.libs.css">
    <link rel="stylesheet" href="css/main.css">
    <link runat="server" rel="shortcut icon" href="img/favicon/favicon-sic.png" type="image/x-icon"/>
    <link runat="server" rel="icon" href="img/favicon/favicon-sic.png" type="image/ico"/>
    <title>{% if section != 'index' %}{% block title %}{% endblock %} - {% endif %}{{ projectName }}</title>
    <script src="//code.tidio.co/aro1y1zij2el0hpmfn3hxmnqwelhpxod.js"></script>
  </head>
  <body>
    <div id="page">
      {% if section == 'index' or section == 'aviso-de-privacidad' or section == 'contacto' or section == 'cotiza' or section == 'donde-estamos' or section == 'garantias' or section == 'quienes-somos' or section == 'reconocimientos' or section == 'soluciones' %}
        {% include 'partials/navbar.njk' %}
      {% else %}
        {% include 'partials/navbar-en.njk' %}
      {% endif %}
      <main>
        {% block content %}{% endblock %}
      </main>
      {% if section == 'index' or section == 'aviso-de-privacidad' or section == 'contacto' or section == 'cotiza' or section == 'donde-estamos' or section == 'garantias' or section == 'quienes-somos' or section == 'reconocimientos' or section == 'soluciones' %}
        {% include 'partials/footer.njk' %}
      {% else %}
        {% include 'partials/footer-en.njk' %}
      {% endif %}
    </div>
    {% block js_libs_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.libs.js"></script>
    {% block js_project_config %}
    {% endblock %}
    <script src="js/{{ projectFilesName }}.js"></script>
    {% block js_inline %}
    {% endblock %}
  </body>
</html>
