<footer class="footer">
  <div class="footer-logo-container">
    <a href="index.html">
      <img class="footer-logo" src="img/logos/logo-white.png">
    </a>
  </div>
  <div class="footer-info">
    <div class="footer-info-column-container">
      <div class="footer-info-column">
        <div class="footer-view-link">
          <a href="quienes-somos.html">
            <span class="barlow-bold fs-14 {% if section == 'quienes-somos' %} active-link {% endif %}">quiénes somos</span>
          </a>
        </div>
        <div class="footer-view-link">
          <a href="reconocimientos.html">
            <span class="barlow-bold fs-14 {% if section == 'reconocimientos' %} active-link {% endif %}">reconocimientos</span>
          </a>
        </div>
        <div class="footer-view-link">
          <a href="soluciones.html">
            <span class="barlow-bold fs-14 {% if section == 'soluciones' %} active-link {% endif %}">soluciones</span>
          </a>
        </div>
        <div class="footer-view">
          <a href="aviso-de-privacidad.html">
            <span class="barlow-medium fs-14  {% if section == 'aviso-de-privacidad' %} active-link {% endif %}">Aviso de privacidad</span>
          </a>
        </div>
      </div>
      <div class="footer-info-column">
        <div class="footer-view-link">
          <a href="donde-estamos.html">
            <span class="barlow-bold fs-14  {% if section == 'donde-estamos' %} active-link {% endif %}">dónde estamos</span>
          </a>
        </div>
        <div class="footer-view-link">
          <a href="contacto.html">
            <span class="barlow-bold fs-14  {% if section == 'contacto' %} active-link {% endif %}">contáctanos</span>
          </a>
        </div>
        <div class="footer-view-link">
          <a href="cotiza.html">
            <span class="barlow-bold fs-14  {% if section == 'cotiza' %} active-link {% endif %}">cotiza</span>
          </a>
        </div>
        <div class="footer-view">
          <span class="barlow-medium fs-14">Copyright® SIC 2018</span>
        </div>
      </div>
    </div>
    <div class="footer-info-column-container-mobile">
      <div class="footer-view-link">
        <a href="quienes-somos.html">
          <span class="barlow-bold fs-14  {% if section == 'quienes-somos' %} active-link {% endif %}">quiénes somos</span>
        </a>
      </div>
      <div class="footer-view-link">
        <a href="soluciones.html">
          <span class="barlow-bold fs-14 {% if section == 'soluciones' %} active-link {% endif %}">soluciones</span>
        </a>
      </div>
      <div class="footer-view-link">
        <a href="reconocimientos.html">
          <span class="barlow-bold fs-14  {% if section == 'reconocimientos' %} active-link {% endif %}">reconocimientos</span>
        </a>
      </div>
      <div class="footer-view-link">
        <a href="contacto.html">
          <span class="barlow-bold fs-14 {% if section == 'contacto' %} active-link {% endif %}">contáctanos</span>
        </a>
      </div>
      <div class="footer-view-link">
        <a href="donde-estamos.html">
          <span class="barlow-bold fs-14 {% if section == 'donde-estamos' %} active-link {% endif %}">dónde estamos</span>
        </a>
      </div>
      <div class="footer-view-link">
        <a href="cotiza.html">
          <span class="barlow-bold fs-14 {% if section == 'cotiza' %} active-link {% endif %}">cotiza</span>
        </a>
      </div>
    </div>
    <div class="footer-separator"></div>
    <div>
      <div class="anchor-phone-desktop">
        <div class="footer-info-content">
          <div class="footer-icon-container">
            <img class="footer-icon-tel" src="img/icons/icon-telephone.png">
          </div>
          <span class="barlow-semibold fs-12">52.55 5366.0900</span>
        </div>
      </div>
      <div class="anchor-phone-mobile">
        <a class="footer-info-content" href="tel:+52 55 53 66 09 00">
          <div class="footer-icon-container">
            <img class="footer-icon-tel" src="img/icons/icon-telephone.png">
          </div>
          <span class="barlow-semibold fs-12">52.55 5366.0900</span>
        </a>
      </div>
      <div>
        <a class="footer-info-content" href="mailto:atencionaclientes@sic.com.mx">
          <div class="footer-icon-container">
            <img class="footer-icon-mail" src="img/icons/icon-mail.png">
          </div>
          <span class="barlow-semibold fs-12">atencionaclientes@sic.com.mx</span>
        </a>
      </div>
      <div>
        <a class="footer-info-content" href="https://goo.gl/maps/Z2eP49xMRPC2" id="last-footer-info-content" target="_blank">
          <div class="footer-icon-container">
            <img class="footer-icon-pin" src="img/icons/icon-pin.png">
          </div>
          <span class="barlow-semibold fs-12">Av. Presidente Juárez No. 126 Col. San Jerónimo Tepetlacalco Tlanepantla de Baz, Edo de Mex. CP. 54090</span>
        </a>
      </div>
    </div>
    <div class="footer-info-bottom-mobile">
      <a href="aviso-de-privacidad.html">
        <span class="barlow-medium fs-14  {% if section == 'aviso-de-privacidad' %} active-link {% endif %}">Aviso de privacidad</span>
      </a>
      <div class="footer-info-copyright">
        <span class="barlow-medium fs-14">Copyright® SIC 2018</span>
      </div>
    </div>
  </div>
</footer>
