.footer
  align-items center
  background-color #3d5881
  bottom 0
  display flex
  flex-direction row
  height 377px
  justify-content center
  position absolute
  width 100%

  &-logo
    height 96px
    width 96px

    &-container
      height 149px

  &-info
    display flex
    flex-direction row

    &-content
      display flex
      flex-direction row
      margin-bottom 24px

      &:hover span
        color #3b79d1

    &-column
      &:first-child
        margin 0 46px 0 107px

      &-container
        display flex
        flex-direction row

        &-mobile
          display none

    &-bottom
      &-mobile
        display none

  &-rs
    &-container
      align-items center
      display flex

      & a
        align-items center
        display flex
        margin 0 6px

      & a:hover
        svg g,
        svg g path
          fill #38455f

    &-instagram
      height 16px
      width 14px

    &-linkedin
      height 16px
      width 16px

    &-whatsapp
      height 18px
      width 16px

  &-view
    display flex
    flex-direction column
    margin-top 45px

    & a
      margin-bottom 10px

    & a:hover span
      color #3b79d1
      text-decoration underline

    &-link
      margin-bottom 15px

      &:hover span
        color #3b79d1

      & span
        letter-spacing 0.9px
        text-transform uppercase

  &-social
    margin-top 45px

    &-mobile
      display none

    & a:nth-child(1)
      margin-right 20px
      

    &-icon
      height 26px
      width 26px

  &-separator
    background-color $white
    height 149px
    margin 0 60px
    width 1px

  &-icon
    &-container
      align-items flex-end
      display flex
      justify-content center
      margin 0 16px 0 0
      height 16px
      width 12px

    &-tel
      height 15px
      width 9px

    &-mail
      height 11px
      width 14px

    &-pin
      height 16px
      width 12px

#last-footer-info-content
  max-width 252px

.icon
  &-fb
    &:hover svg
      fill #38455f

    & svg
      fill #ffffff
      height 16px
      width auto

  &-twitter
    &:hover svg
      fill #38455f

    & svg
      fill #ffffff
      height 17px
      width auto

@media screen and (min-width 920px) and (max-width 1100px)
  .footer
    &-info
      &-column
        &:first-child
          margin 0 40px

    &-separator
      margin 0 35px

@media screen and (min-width 720px) and (max-width 919px)
  .footer
    flex-direction column

    &-logo
      &-container
        height 100px
        margin-bottom 50px

    &-info
      &-column
        &:first-child
          margin 0 40px 0 0

    &-separator
      margin 0 30px

@media screen and (max-width 719px)
  .footer
    flex-direction column
    height 520px
    padding 0 25px

    &-logo
      height 96px
      width 96px

      &-container
        height 96px
        margin-bottom 50px

    &-info
      align-items center
      flex-direction column

      &-content
        justify-content center

      &-column
        &:first-child
          margin 0 35px 0 0

        &-container
          display none

          &-mobile
            display flex
            flex-wrap wrap
            justify-content center
            max-width 244px

      &-bottom
        &-mobile
          display flex
          flex-direction row
          margin-top 20px

          &:hover a span
            color #3b79d1

      &-copyright
        margin-left 20px

    &-view
      margin-top 30px

      &-link
        margin 0 7px 12px 7px

    &-social
      display none

      &-mobile
        display block

        & a:nth-child(1)
          margin-right 20px

    &-separator
      height 1px
      margin 30px 0
      width 95%

    &-rs-container
      justify-content center

  #last-footer-info-content
    text-align center
