.navbar
  background transparent
  display flex
  align-items center
  height 107px
  justify-content space-between
  left 0
  padding 0 200px
  position fixed
  top 0
  width 100%
  z-index 12

  &-scroll
    background-color $white
    box-shadow 0 6px 8px 0 rgba(0, 0, 0, 0.2)

  &-logo
  &-logo-scroll
    display none
    height 47px
    width 140px

  &-sections
    &-container
      align-items center
      display flex
      flex-direction row

    &-title
      background-color transparent
      border none
      cursor pointer
      display flex
      flex-direction row

    &-content
      cursor pointer
      display flex
      flex-direction row
      margin-right 20px
      position relative

    &-scroll
      color $blue

  &-lang
    &-container
      display flex
      flex-direction row

    &-content
      margin-right 15px

  &-dropdown
    &-icon,
    &-icon-scroll
      display none
      height 4px
      width 6px

    &-icon
      &-mobile
        height 4px
        width 6px

      &-container
        display flex
        margin 6px 0 0 5px
        z-index -1

  &-separator
    background-color $white
    height 21px
    margin 0 20px 0 0
    width 1px

  &-flag
    height 14px
    width 24px

    &-container
      display flex
      flex-direction row
      position relative

      & .dropdown-content
        min-width 65px

    &-content
      z-index -1

.dropbtn
  background-color #3498DB
  color white
  padding 16px
  font-size 16px
  border none
  cursor pointer

.dropbtn:hover, .dropbtn:focus
  background-color #2980B9

.dropdown
  position relative
  display inline-block

.dropdown-content
  display none
  position absolute
  background-color #f1f1f1
  overflow auto
  box-shadow 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index 1
  padding 10px 0
  top 30px
  left -10px
  min-width 145px

.dropdown-content
  a
    span
      color $grayLight
      font-size remify(12px)
      padding 0
      text-decoration none
      display block

.show 
  display block

.hamburger-menu-container
  display none

.navbar-hamburguer-visibility
  left -100px
  position absolute

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.active-link
  color #3b79d1

.dropdown-content a:hover {background-color: $gray}

.show-icon
  display block !important

@media screen and (min-width 860px) and (max-width 1130px)
  .navbar
    padding 0 60px

@media screen and (min-width 769px) and (max-width 859px)
  .navbar
    padding 0 30px

    &-logo,
      &-logo-scroll
        height 35px
        width 100px

@media screen and (max-width 768px)
  .navbar
    height 70px
    padding 0 30px

    &-logo,
    &-logo-scroll
      height 30px
      width 90px

    &-sections
      &-content
        margin 0 0 10px 0

        & span
          font-size 14px

    &-separator
      height 1px
      margin 20px 0
      width 21px

    &-lang
      &-container
        margin-bottom 20px

      &-content
        & span
          font-size 14px

  .navbar-sections-container
    display none

  .navbar-option-link
    display block
    height auto
    display block
    text-align left
    flex-basis 100%

  .navbar-hamburguer-visibility
    position initial
      
  .navbar-hamburguer
    cursor pointer
    transition 0.3s

    &:hover
      background-color $sGreen
      transition 0.3s

  .navbar-hamburger-icon,
  .navbar-hamburger-icon-scroll
    display none
    height auto
    width 30px
    
  .align-content-hamburguer
    display flex
    flex-direction column
    justify-content center
    
  .line-hamburguer-base
    height 1px
    background-color #fff

  .line-hamburguer-lg
    width: 15px
    
  .line-hamburguer-md
    width 7.5px
    
  .margin-vertical-4px
    margin 4px 0px

  .hamburger-menu-container
    background $blueUltra
    display inline
    left 0
    padding-bottom 50px
    position fixed
    top 0
    width 0%
    z-index 13
    bottom 0
    overflow scroll
    -webkit-transition width 0.5s
    transition width 0.5s
    
  .hamburger-menu-header
    align-items center
    display flex
    flex-direction row
    justify-content space-between
    padding 22px 36px 23px 36px
    
  .hamburger-logo
    height 35px
    width 100px
    
  .hamburger-close-container
    cursor pointer
    
  .hamburger-close
    height 16px
    width 16px

  .hamburger-option-link
    color #fff
    cursor pointer
    font-size remify(12)
    letter-spacing 1.4px
    margin 20px 0
    text-transform uppercase

    &:hover
      .hamburger-text
        font-weight bold
        transition all 0.4s

  .link-decorator
    background-color #ffffff
    transition all 0.4s

  .hamburger-text
    padding 10px 0

    &-active
      font-weight bold

  .hamburger-dropdown-container
    position relative

  .down-triangle-container
    left 80px
    right initial

  .hamburger-text-container
    margin 30px 0

  .dropdown
    display initial

  .dropdown-content
    box-shadow initial
    left 35px
    margin-left -36px
    position absolute
    top 25px

    & a
      padding-left 20px

  .hamburger-separator
    background-color transparent
    height 1px
    margin 15px 0

  .navbar-sections-content,
  .navbar-lang-container,
  .navbar-flag-container
    margin 0 0 0 28px

  .navbar
    &-flag
      &-content
        z-index 1

  .navbar-lang-container
    margin-bottom 20px
    margin-top 30px


      
