@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Bold.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Light.woff') format('woff');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-LightItalic.woff') format('woff');
  font-weight: $light;
  font-style: italic;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Medium.woff') format('woff');
  font-weight: $medium;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Thin.woff') format('woff');
  font-weight: $thin;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.woff') format('woff');
  font-weight: $regular;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: $bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: $light;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold.woff') format('woff');
  font-weight: $semibold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
  font-weight: $semibold;
  font-style: italic;
}

.barlow-bold
  font-family 'Barlow'
  font-weight $bold
  font-style normal

.barlow-light
  font-family 'Barlow'
  font-weight $light
  font-style normal

.barlow-light-italic
  font-family 'Barlow'
  font-weight $light
  font-style italic

.barlow-medium
  font-family 'Barlow'
  font-weight $medium
  font-style normal

.barlow-thin
  font-family 'Barlow'
  font-weight $thin
  font-style normal

.opensans-regular
  font-family 'OpenSans'
  font-weight $regular
  font-style normal

.opensans-bold
  font-family 'OpenSans'
  font-weight $bold
  font-style normal

.opensans-light
  font-family 'OpenSans'
  font-weight $light
  font-style normal

.opensans-semibold
  font-family 'OpenSans'
  font-weight $semibold
  font-style normal

.OpenSans-SemiBold-italic
  font-family 'OpenSans'
  font-weight $semibold
  font-style italic

.fs-48
  color $white
  font-size $fs-48
  letter-spacing -1px
  line-height 53px

.fs-39
  color $blacks
  font-size $fs-39
  letter-spacing -1px
  line-height 51px

.fs-35
  color $white
  font-size $fs-35
  letter-spacing -0.9px

.fs-20
  color $white
  font-size $fs-20
  letter-spacing 0.2px
  line-height 35px

.fs-18
  color $white
  font-size $fs-18
  letter-spacing 0.2px
  line-height 29px

.fs-16
  color $white
  font-size $fs-16
  letter-spacing 0.2px

.fs-15
  color $blackLight
  font-size $fs-15
  letter-spacing -0.1px
  line-height 21px

.fs-14
  color $white
  font-size $fs-14
  letter-spacing 1.2px

.fs-13
  color $white
  font-size $fs-13
  letter-spacing 1.7px

.fs-12
  color $white
  font-size $fs-12
  letter-spacing 0.3px
  line-height 20px

@media screen and (max-width 768px)
  .fs-48
    font-size $fs-48M
    line-height 37px

  .fs-39
    font-size $fs-39M
    line-height 32px

  .fs-20
    font-size $fs-20M
    line-height 25px

  .fs-18
    font-size $fs-18M
    line-height 20px

  .fs-14
    font-size $fs-14M
