.sic
  &-button
    background-color $blue
    cursor pointer
    height 51px
    border none
    border-radius 3px
    padding 0 42px
    text-transform uppercase
    transition 0.3s

    &:hover
      background-color $blueStrong
      transition 0.3s

  &-text
    &-white
      color $white

.material
  &-container
    padding 30px 0 0 0
    position relative
    width 412px

    &:after, 
    &:before
      background-color $grayLight
      bottom 0
      content ""
      display block
      height 1px
      left 0
      position absolute
      transition all 0.3s
      width 100%

    &::after
      background-color $blueKing
      transform scaleX(0)

  &-label
    color $grayLabels
    display block
    font-size 14px
    letter-spacing -0.1px
    line-height 21px
    transform translateY(25px)
    transition all 0.3s

  &-input
    background transparent
    border none
    color $blackInputs
    font-size 18px
    letter-spacing -0.2px
    outline none
    padding 8px 0 10px 0
    position relative
    width 100%

.is-active::after
  transform scaleX(1)

.is-active .material-label
  color $blueKing

.is-completed .material-label
  font-size 12px
  transform translateY(0)

.anchor
  &-phone
    &-desktop
      display block

    &-mobile
      display none

label.error
  bottom- 23px
  font-family 'OpenSans'
  font-size 13px
  font-weight 500
  font-style normal
  position absolute

@media screen and (max-width 970px)
  .material
    &-container
      width 250px

@media screen and (max-width 689px)
  .anchor
    &-phone
      &-desktop
        display none

      &-mobile
        display block
