// COLORS
$errorColor = #ff3636
$successColor = #149a14

//Site colors

$blacks = #3e3e3e
$blackInputs = #3d3d3d
$blackLight = #555555
$blue = #5275A7
$blueKing = #397ec8
$blueStrong = #38455f
$blueUltra = #3d5881
$grayLabels = #b9b9b9
$gray = #7c7c7c
$grayExtraLight = #f2f2f2
$grayLight = #b4b4b4
$grayStrong = #f6f6f6
$white = #ffffff


// Base font-size
$baseFontSize = 16

//Site font sizes

$fs-48 = 48px
$fs-39 = 39px
$fs-35 = 35px
$fs-20 = 20px
$fs-18 = 18px
$fs-16 = 16px
$fs-15 = 15px
$fs-14 = 14px
$fs-13 = 13px
$fs-12 = 12px

//Mobile font sizes
$fs-48M = 25px
$fs-39M = 30px
$fs-20M = 16px
$fs-18M = 14px
$fs-14M = 12px

// Font weights
$thin = 100
$hairline = $thin
$extralight = 200
$ultralight = $extralight
$light = 300
$normal = 400
$regular = $normal
$medium = 500
$semibold = 600
$demibold = $semibold
$bold = 700
$extrabold = 800
$ultrabold = $extrabold
$black = 900
$heavy = $black